
* {
	box-sizing: border-box;
	font-weight: 1;

}

@font-face {
	src: url(fonts/Saiyan-Sans.ttf);
	font-family: Saiyan-Sans;
}

:root {
	--main-color: rgba(255,100,0,1);
	--main-color-light: rgba(255,190,0,1);
}

html {
	color: white;
	font-size: 1rem;
	font-family: Saiyan-Sans;
	/* font-family: Luckiest Guy; */
	font-weight: 1;
	text-align: center;
	/* width: 100vw; */
}

#player {
position: absolute;
top: 1%;
}

#title {
	text-align: center;
	color: orange;
	background-color: rgba(0,0,0,0.6);
	text-shadow: 3px 3px 1px black,-3px 3px 1px black,3px -3px 1px black,-3px -3px 1px black;
	border-radius: 15px;
	border: 4px solid black;
	width: 85%;
	font-size: 4rem;
	padding: 15px;
}


body {
	/* border: 2px solid purple; */
	background: url("https://github.com/gonzaotc/FCC-Form-Project/blob/main/images/tournamentbackground.jpg?raw=true");
	background-size: cover;
	background-position: top center; /*Esto hace que la imagen quede en el centro para distintos tamaños de pantalla*/
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center; /* Centro el titulo */
	justify-content: center; /* Centro el titulo */
	margin: 0;
}

#wrapper {
	/* border: 3px solid red; */
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	
}

#announcer-img-container {
	/* max-width: 500px; */
    /* border: 3px solid green; */
	margin: 0;	
	/* width: 25%; */
	flex: 10 1 20%;
	min-width: 250px;
}

#prize-container {
	/* border: 3px solid white; */
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	/* width: 25%; */
	flex: 10 1 20%;
	min-width: 250px;
}

#survey-form {
	/* padding: 1%; */
	padding-top: 3rem;
	border-radius: 15px;
	border: 4px solid black;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	/* align-items: space-between; */
	background-color: rgba(0,0,0,0.7);
	margin: 0;
	flex: 1 100 60%;
	max-width: 800px;
}
#formtitle {
	text-shadow: 3px 3px 1px black,-3px 3px 1px black,3px -3px 1px black,-3px -3px 1px black;
    font-size: 4rem;
	/* border: 2px solid purple; */
	margin: 0;
	margin-bottom: 1rem;
}
#prize-title {
	font-size: 4rem;
	text-shadow: 3px 3px 1px black,-3px 3px 1px black,3px -3px 1px black,-3px -3px 1px black;
	margin: 0;
}

.responsive-image {
    max-width: 45vh;
	width: 100%;

}

#esfera {
    max-width: 20vh;
	width: 100%;
}


input,select,#dropdown,#informacion,#submit {
	background-color: white;
	border: none;
	appearance: none;
	box-sizing: border-box;
	outline: none;
	border-radius: 7px;
	border: 3px solid rgba(0,0,0,1);
	transition: 0.3s ease;
	font-family: Luckiest Guy;
	font-size: 1rem;
}
/* input:hover {
	border-bottom: 3px solid orange;
}
input:focus {
    border-bottom: 3px solid red;
} */




/* CSS BASIC INFO */
#basic-info-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* border: 2px solid purple; */

}

#basicseparator{
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* border: 2px solid blue; */
	width: 80%;
}

label.basic-info {
/* Position relative para poder usar absolute en hijos */
	position: relative;
	/* Mismo font-size que el input */
	/* padding para mover el placeholder arriba */
    padding-top: 20px;
	/* border: 2px solid red; */
}

#name-label {
	width: 60%;
}

#number-label {
	width: 25%;
}

#email-label {
	width: 80%;
}


input.basic-info {
	padding: 10px;
	width: 100%;
}

.placeholder.basic-info {
	color: var(--main-color);;
	/* El text shadow es para agregarle borde negro a las letras. */
	text-shadow: 1px 1px 1px black,-1px 1px 1px black,1px -1px 1px black,-1px -1px 1px black;
	font-size: 1.6rem;
	position: absolute;
	/* el left es por el padding del input */
	left: 10px;
	/* El top y transform son para centrar.
	el +10px es por el padding del label */
	top: calc(50% + 10px);
	transform: translateY(-50%);
	/* border: 3px solid yellow; */
	/* Transicion para el desplazamiento */
	transition: 0.3s ease;
}

/* el + selecciona el elemento inmediatamente siguiente*/
/* Aplico el focus y también el valid, para que luego de escribir,
si se sale el focus, quede la transformacion. 
Nota: valid aparece cuando es required y hay algo escrito.*/
.basic-info input:focus + .placeholder.basic-info,
.basic-info input:valid + .placeholder.basic-info{
    top: 10px;
	font-size: 1.3rem;
	color: var(--main-color);;
}
.placeholder.basic-info:hover{
	/* color: var(--main-color-light); */
}

.basic-info input:hover,#informacion:hover,#submit:hover{
    border: 3px solid var(--main-color-light) ;
}

.basic-info input:focus,.basic-info input:valid,
#informacion:focus,#informacion:valid{
    border: 3px solid var(--main-color);
}

#submit:hover{
	/* background-color: var(--main-color-light); */
	color: var(--main-color);
}





/* CSS EMAIL */
/*Email validation -> sin terminar. -> TERMINADO 
La idea era que al estar focus o valid, no mostrara el content del after. */
#emailspan:after {
	content: ' => add @';
	color: grey;
	font-size: 0.8rem;
	/* font-family: Arial; */
}
#email:focus + #emailspan:after,
#email:valid + #emailspan:after{
content: none;
}




/* CSS DROPDOWN */
#dropdown-div {
	margin-top: 1.2rem;
}
.label-title {
	/* color: var(--main-color); */
	/* font-family: Luckiest Guy; */
	margin: 0;
	margin-top: 2.5rem;
	margin-bottom: 0.3rem;
	font-size: 2.2rem;
	text-shadow: 1px 1px 1px black,-1px 1px 1px black,1px -1px 1px black,-1px -1px 1px black;
}

#labeldropdown {
	margin-top: 1rem;
}
#dropdown{
color: var(--main-color);;
font-family: Luckiest Guy;
font-size: 1.5rem;
padding: 4px;
text-shadow: 1px 1px 1px black,-1px 1px 1px black,1px -1px 1px black,-1px -1px 1px black;
}
#dropdown:hover{
border-color: var(--main-color-light);
}
#dropdown:focus,#dropdown:valid{
	border-color: var(--main-color);
}

.options{
text-align: center;
background-color: rgba(0,0,0,1);
/* Lastimosamente, no aplica el text-shadow a las opciones, por lo que uso un fondo negro que queda mejor. */
text-shadow: 1px 1px 1px black,-1px 1px 1px black,1px -1px 1px black,-1px -1px 1px black;
font-family: Luckiest Guy;
font-size: 1.5rem;
padding: 4px;
}

.options#option1 {
	color: brown;
}

.options#option2 {
	color: goldenrod;
}

.options#option3 {
	color: green;
}

.options#option4 {
	color: purple;
}




/* CSS KI RADIOS */
#radios-container,#checkboxes-container {
	/* border: 2px solid yellow; */
	display: flex;
	flex-direction: column;
	flex: 1 1;
}

#kiradios-container,#powercheckboxes-container{
	/* border: 2px solid red; */
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}



/* Esto lo hago para juntar cada label con su radio */
.radiodiv,.checkboxdiv {
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.label-radio,.label-checkbox{
	/* border: 2px solid red; */
	font-family: Luckiest Guy;
	font-size: 1.2rem;
	text-shadow: 1px 1px 1px black,-1px 1px 1px black,1px -1px 1px black,-1px -1px 1px black;
	margin: 0;
}

.label-checkbox {
	color: var(--main-color-light);
}

#label-ki1{
	color: greenyellow;
}

#label-ki2{
	color: yellow;
}

#label-ki3{
	color: purple;
}

input[type=radio],input[type=checkbox]{
	margin: 2px;
	padding: 8px;
	border-radius: 30%;
}

input[type=radio]:hover,[type=checkbox]:hover{
	background-color: var(--main-color-light);
}

input[type=radio]:checked,[type=checkbox]:checked{
	background-color:var(--main-color);
}



/* CSS TEXTAREA */
#information-container{
	/* border: 2px solid green; */
	display: flex;
	flex-direction: column;
	align-items: center;

}

#informacion{
max-height: 150px;
min-height: 90px;
max-width: 85%;
margin-top: 0.3rem;
}

/* CSS BOTON */
#button-container{
	/* border: 2px solid magenta; */
	margin-top: 3rem;
	margin-bottom: 0.5rem;
	width: 100%;
	align-self: center;
	/* border: 2px solid red; */
}

#submit {
 padding: 10px;
 width: 6rem;
 font-size: 1.2rem;
 margin-bottom: 1rem;
}


/* CSS FOOTER */
footer {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	/* border: 2px solid blue; */
}

#description {
	font-family: Luckiest Guy;
	background-color: rgba(0,0,0,0.7);
	text-shadow: 3px 3px 1px black,-3px 3px 1px black,3px -3px 1px black,-3px -3px 1px black;
	border-radius: 15px;
	border: 3px solid black;
	font-size: 1.2rem;
	padding: 10px;
	display: inline-block;
	width: 85%;
	max-width: 23rem;
}

#github {
	width: 20px;
	margin-right: 4px;
	position: relative;
	top: 3px;
}
a{
	text-decoration: none;
	color: white;
}
a:hover{
	color: var(--main-color);
}

/* MEDIA QUERIES */
@media (max-width: 900px){
	#prize-container{
		order: 3;
		display: none;
	}	
	#announcer-img-container{
		/* display: none; */
		order: 2
	}
	#survey-form{
		width: 85%;
		order: 1
	}
	#wrapper {
		flex-direction: column;
	}
}

/* mobile view */
@media (max-width: 500px) {

	#formtitle,#title {
		font-size: 2.6rem;
	}
    .label-title{
		font-size: 1.9rem;
	}
	#dropdown-div,#kiradios-container{
		display: flex;
		flex-direction: column;
	}
	#dropdown{
		margin-top: 0.3rem;
	}
	.radiodiv,.checkboxdiv {
		padding: 0.12rem;
	}
	#powercheckboxes-container{
		flex-direction: column;
	}
}